.speech-bubble-sender:after {
    content: '';
    position: absolute;
    top: 0.75rem;
    right: -0.5rem;
    width: 0;
    height: 0;
    border: 0.5rem solid transparent;
    border-left-color: #22c55e;
    /* Tailwind green-500 */
    border-right: 0;
    border-bottom: 0;
    margin-top: -0.5rem;
}

.speech-bubble-receiver:before {
    content: '';
    position: absolute;
    top: 0.75rem;
    left: -0.5rem;
    width: 0;
    height: 0;
    border: 0.5rem solid transparent;
    border-right-color: #e5e7eb;
    /* Tailwind gray-200 */
    border-left: 0;
    border-bottom: 0;
    margin-top: -0.5rem;
}